/* * {
    padding: 0;
    margin:  0;
    background-color: #000000;
} */

/* h3 {
color: #000000;
padding: 30px;
} */
/* 
.update-video{
    text-transform: uppercase;
    padding: 5px;
    margin-top: 30px;

}

.add-video-form {
      width: 360px;
      height: 620px;
      margin: auto;
      background-color: #FFFFFF;
      padding: 25% 0;
      border-radius: 3px;
      
}



form {
    width: 500px;
    margin-left: 20px;
}


form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid #87888c;
    border-radius: 6px;
    outline: none;
    margin: 10px;
}

input[type="date"] {
    background-color: rgb(0, 127, 120);
    color: #000000;
    font-family: "Roboto Mono", monospace;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -10%);
   
}

input:active {
    color: rgb(0, 127, 120);
}

 ::-webkit-calendar-picker-indicator {
    background-color: #FFFFFF;
} 


button {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
   
}

.add-video {

    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.creat-button {
   
        margin: 10px;
        margin: 5% 15%;
        text-decoration: none;
        text-align: center;
    
}


h3 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px !important;
    
}

input[type=text]:focus {
    border: 3px solid #555;
  } */


