
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} */

/* body {
    font-family:  'poppins', sans-serif;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
} */

/* .wrapper h2 {

    margin: 40px 0;
    font-size: 4rem;
    font-weight: bold;
}

.wrapper {

  text-align: center;
}

.wrapper img {
    width: 600px;
    max-width: 75%;
}

.wrapper h4 {
    margin: 50px 0 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-size: 2.5rem;
}


.main-btn {

    padding: 15px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.main-btn:hover {
    color: #FFFFFF;
}


button link {
    margin: 40px;
}

@media (max-width:767px) {
    .wrapper h2 {
        font-size: 2rem;
    }
    
    .wrapper h4 {
        font-size: 1rem;
    }
} */
