/* 
/* body {
    background-color: #FFFFFF;
} */ 

/* .button {
    color: black
} */

/* Link{
    color: red;
} */
/* h3 {
    
    text-decoration: none;
    border-radius: 5px;  
    font-weight: bold !important;
 
}
  .add-customer:hover {
    color: #f80000 !important;
   }
   

.update{
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
    
}

h2 {
    color: black;
    font-size: 25px;

}

.rentalUpdate {
margin: 10px 0px;
width: 150px;
height: 50px;
border-radius: 10px;
}

.delete {
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
}

.view {
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
    
} */

/* button :hover {
    color: #FFFF00;
} */

/* button {

margin: 10px 0px;
width: 150px;
height: 50px;
border-radius: 10px;
background-color: #ff0000 !important;
border-radius: 10px !important;
} */

/* button:hover {
    color: #ffffff !important;
    background-color: rgb(255, 0, 0) !important;

} */


/* .function-buttons {
    padding-left: 20%;
}

a {
    color: #FFFFFF;
    text-decoration: none !important;
}

a:hover {

    color: #000000;

}

p {
    color: black;
}



select {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid #87888c;
    border-radius: 6px;
    outline: none;
    margin: 20px 20px;
    align-items: center;
}  */

